.internal-page-curve-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.internal-page-curve {
  position: absolute;
  bottom: 55%;
  left: 50%;
  width: 300vw;
  height: 300vw;
  border-radius: 50%;
  background-color: #000000;
  box-shadow: 0 20px 100px 20px rgba(6, 182, 212, 0.4), 0 2px 15px 5px rgba(255, 255, 255, 0.8);
}
